{% extends "chess_content/layout.html" %}
{% load static %}

{% block title %} Game History {% endblock %}

{% block body %}
    <script src="{% static 'chess_content/game_history.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="header-container">
        {% if fen_data %}
            <h1 class="main_header">Played Games</h1>
            <button id="toggleOrder" class="toggleButton">Oldest</button>
        {% else %}
            <h1 class="main_header">You have no games to display so far.</h1>
        {% endif %}
    </div>
    <div class="board_and_pieces">
        <div class="profile_games">
            {% for item in fen_data %}
                <div class="game" id="game{{ forloop.counter }}" data-fen="{{ item.fen_string }}">
                    <div class="board_wrapper">
                        <div class="board_container {% if item.success == False and item.game_is_on == True %}blurry{% endif %}">
                            <div class="piece_container"></div>
                        </div>
                    </div>
                    <div class="game_info" 
                        data-difficulty="{{ item.chosenDifficulty }}" 
                        data-is-on="{{ item.game_is_on }}" 
                        data-success="{{ item.success }}">
                        <button class="copy">
                            <i class="fas fa-clipboard fa-xs"></i>
                            <i class="fas fa-check fa-xs"></i>
                        </button>
                        <div>
                            {% if item.success == True %}
                                ✅
                            {% elif item.success == False and item.game_is_on == True %}
                                ➖
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        {% if item.gotCorrectRoundNumber %}
                            <div class="tries">
                                {% if item.gotCorrectRoundNumber == 1 %}
                                    {{ item.gotCorrectRoundNumber }} try
                                {% else %}
                                    {{ item.gotCorrectRoundNumber }} tries
                                {% endif %}
                            </div>
                        {% elif item.game_is_on %}
                            <div class="tries">
                                {% if item.error_count == 1 %}
                                    {{ item.error_count }} mistake
                                {% else %}
                                    {{ item.error_count }} mistakes
                                {% endif %}
                            </div>
                        {% endif %}
                        <div title="{{ item.played_at|date:'l, F j, Y P' }}">{{ item.played_at|date:'d/m' }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
