{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Chess{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'chess_content/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" href="{% static 'chess_content/assets/favicon.png' %}" type="image/png">
    </head>
    <body>
        <div class="top-sidebar">
            <!-- <div class="sidebar-item">
                <img src="static/chess_content/assets/home_icon.png" alt="home">
                <a href="{% url 'home' %}" class="item-text">Home</a>
            </div> -->
            <div class="sidebar-item">
                <img src="static/chess_content/assets/memory_icon.png" alt="memory_rush">
                <a href="{% url 'memory_rush' %}" class="item-text">Memory Rush</a>
            </div>
            <div class="sidebar-item history">
                <img src="static/chess_content/assets/history_icon.png" alt="game_history" class="bar-images history-image">
                <a href="{% url 'game_history' %}" class="item-text">Game History</a>
            </div>
            <div class="sidebar-item github-item">
                <a href="https://github.com/mapleleafu/chess-website"  id="github-link">
                    <img src="static/chess_content/assets/github_icon.png" alt="github" class="bar-images github-image">
                    <span class="item-text">Github</span>
                </a>
            </div>
            <div class="sidebar-item logout">
                <img src="static/chess_content/assets/login_icon.png" alt="logout">
                <a href="{% url 'logout' %}" class="item-text">Log Out</a>
            </div>
        </div>
        <div class="page-container">
            <div class="sidebar">
                <!-- <div class="sidebar-item one" id="sidebar-item1">
                    <a href="{% url 'home' %}">
                        <img src="static/chess_content/assets/home_icon.png" alt="home" class="bar-images">
                        <span class="item-text" id="item-text1">Home</span>
                    </a>
                </div> -->
                <div class="sidebar-item" id="sidebar-item2">
                    <a href="{% url 'memory_rush' %}">
                        <img src="static/chess_content/assets/memory_icon.png" alt="memory_rush" class="bar-images">
                        <span class="item-text" id="item-text2">Memory Rush</span>
                    </a>
                </div>
                {% if user.is_authenticated %}
                <div class="sidebar-item" id="sidebar-item3">
                    <a href="{% url 'game_history' %}">
                        <img src="static/chess_content/assets/history_icon.png" alt="game_history">
                        <span class="item-text" id="item-text3">Game History</span>
                    </a>
                </div>
                <div class="sidebar-item" id="sidebar-item6">
                    <a href="https://github.com/mapleleafu/chess-website" target="_blank">
                        <img src="static/chess_content/assets/github_icon.png" alt="github" class="bar-images">
                        <span class="item-text" id="item-text6">Github</span>
                    </a>
                </div>                
                <div class="sidebar-item" id="sidebar-item4">
                    <a href="{% url 'logout' %}">
                        <img src="static/chess_content/assets/login_icon.png" alt="logout" class="bar-images">
                        <span class="item-text" id="item-text4">Log Out</span>
                    </a>
                </div>
                {% else %}
                <div class="sidebar-item" id="sidebar-item6">
                    <a href="https://github.com/mapleleafu/chess-website" target="_blank">
                        <img src="static/chess_content/assets/github_icon.png" alt="github" class="bar-images">
                        <span class="item-text" id="item-text6">Github</span>
                    </a>
                </div>                
                <div class="sidebar-item" id="sidebar-item5">
                    <img src="static/chess_content/assets/login_icon.png" alt="login" class="bar-images">
                    <div class="icon-text-wrapper">
                        <a href="{% url 'login' %}" class="item-text" id="item-text5">Login</a>
                        <a href="{% url 'register' %}" class="item-text" id="item-text6">Register</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="content-container">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
