{% extends "chess_content/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static 'chess_content/profile.js' %}" defer></script>
    <h1 class="main_header">Played Games</h1>
    <div class="profile_games">
        {% for item in fen_data %}
            <div class="game" id="game{{ forloop.counter }}">
                FEN: {{ item.fen_string }} <br>
                Success: {{ item.success }} <br>
                Played at: {{ item.played_at }} <br>
            </div>
            <div class="game{{ forloop.counter }} pieces"></div>
        {% endfor %}
    </div>
{% endblock %}
