body {
    /* background-color: #161512; */
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: #333;
    padding: 10px 0;
    width: 140px; 
    position: fixed; 
    height: 100%; 
    overflow: auto;
    flex-direction: column; 
    align-items: flex-start; 
}

.nav-item {
    width: 100%; 
}

.nav-item a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: block; 
}

.nav-item a:hover {
    background-color: #575757;
}

.main_header {
    text-align: center;
}

button{
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn.btn-secondary.flip,
.btn.btn-danger.clear,
.btn.btn-success.submit {
    display: none; /* Not displayed till play button is clicked */
}

.black_chess_pieces,
.white_chess_pieces{
    visibility: hidden; /* Invisible till play button is clicked */
}

.countdown-wrapper {
    position: relative;  /* Ensure it's relative so that 'countdown' will position relative to this */
    text-align: center;
}

.countdown {
    position: absolute;
    top: -19.5%;  
    left: 50%;   
    transform: translateX(-50%) translateY(-100%);
    z-index: 9999;
    font-size: 5.5em;
    font-weight: bold;
    color: rgb(253, 251, 251);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.countdown.scaling {
    font-size: 6em;
    font-weight: bold;
    animation: scaleUp 5s steps(5);
}

@keyframes scaleUp {
    0% { transform: scale(1); }
    100% { transform: scale(1.5); }
}

.main_wrapper {
    display: none;
    flex-direction: row;  /* This makes them display side by side */
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;  
}

.board_and_duplicates {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.memory_board, .memory_board * {
    display: flex;
    position: relative;
    width: 720px;
    height: 720px;
    user-select: none;
    -webkit-user-drag: none;
}

.chess_pieces {
    width: 100px;
    height: 100px;
    border: 5px solid transparent; 
    user-select: none;
}

.trash,
.cursor {   
    width: 80px;
    height: 100px;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
}

.black_chess_pieces,
.white_chess_pieces {
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    margin  : 20px 0; 
}    

.black_original_pieces,
.white_original_pieces {
    -webkit-user-drag: none;
    user-select: none;
}

.animate-background {
    transition: background-color 0.6s ease;

}

.animate-background:hover {
    border-radius: 10px;
}

.chess_pieces:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    background-color: #617384;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.duplicate-piece:hover{
    border-radius: 0px;
    transform: scaleX(1);
    background-color:transparent;
    box-shadow: 0 0 0px transparent;
}

.cursor:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #17862673;
}

.trash:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #c21c1c73;
}
