body {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: 
      radial-gradient(#1d1b19 1px, #161512 1px),
      linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0.1));
    background-size: 40px 40px, 80px 80px;
    background-position: 0 0, 0 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: 
      radial-gradient(circle at 20% 30%, #b3f4ff23, rgba(0, 0, 0, 0) 30%),
      radial-gradient(circle at 85% 70%, #b3f4ff23, rgba(0, 0, 0, 0) 30%);
    pointer-events: none;
}


.sidebar {
    width: 60px;
    background-image: linear-gradient(to right, #161512 50%, #161512d2 75%, #161512a8 100%);
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    transition: width 0.3s ease;
    z-index: 9999;
}
  
.item-text {
    font-size: 17px;
    display: none;
    margin-left: 5px;
    color: white;
    text-align: center;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: white;
}

#sidebar-item1 img {
    margin-left: -4px; 
}

#sidebar-item2 img {
    margin-left: -5px; 
}

#sidebar-item4 img,
#sidebar-item5 img {
    margin-left: -6px; 
}

.sidebar-item img {
    width: 70px;
    height: 70px;
}

#item-text2 {
    margin-left: 6px; 
}

#item-text3 {
    margin-left: 2px; 
}

#item-text4,
#item-text5 {
    margin-left: 7px; 
}

.item-text:hover {
    color: #b3f4ff;
}

.sidebar:hover {
    width: 195px;
}
  
.sidebar:hover .item-text {
    display: inline;
    text-decoration: none;
}

button{
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn:focus {
    box-shadow: none;
}

.btn.flip,
.btn.clear,
.btn.submit {
    display: none; /* Not displayed till play button is clicked */
    text-transform: uppercase;
    color: #fff;
    font-size: 14.5px;
    font-family:sans-serif;
    border-radius: 10px;
    background-size: 200% auto;
    border-color: #b3f4ffa9;
}

.btn.submit {
    padding: 10px 15px;
}

.btn.clear {
    padding: 5px 13px;
}

.btn.flip {
    padding: 5px 10px;
}

.btn.submit:hover {
    background-image: linear-gradient(to right, #125f44 0%, #64ad7f  51%, #0c412e  100%);
    box-shadow: 0 0 5px #64ad7f;
    transition: 0.2s;
}   

.btn.clear:hover {
    background-image: linear-gradient(to right, #410101 40%, #050005 100%);
    box-shadow: 0 0 5px #8d5353;
    transition: 0.2s;
}

.btn.flip:hover {
    background-image: linear-gradient(to right, #080c13 0%, #111d2b 51%, #0b111b 100%);
    box-shadow: 0 0 5px #516985;
    transition: 0.2s;
}


.black_chess_pieces,
.white_chess_pieces{
    visibility: hidden; /* Invisible till play button is clicked */
}

.countdown-wrapper {
    position: relative;  /* Ensure it's relative so that 'countdown' will position relative to this */
    text-align: center;
}

.countdown {
    position: absolute;
    margin-bottom: 10px;
    top: -19.5%;  
    left: 50%;   
    transform: translateX(-50%) translateY(-100%);
    z-index: 9999;
    font-size: 5.5em;
    font-weight: bold;
    color: rgb(253, 251, 251);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.countdown.scaling {
    font-size: 6em;
    font-weight: bold;
    animation: scaleUp 5s steps(5);
}

.a_link {
    color:#b3f4ff;
}

.a_link:hover {
    text-decoration:none;
    color: #7cadb6;
}

.register_text,
.have_account_text {
    color: white;
}

.btn.register {
    color: white;
    border-color: #b3f4ffa9;
}

.btn.register:hover {
    background-image: linear-gradient(to right, #b3f4ffb0 0%, #65e8ffc0 100%);
    box-shadow: 0 0 5px #c5f6ff;
    transition: 0.2s;
}

.create_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}
.register_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.form-control {
    color: white;
    background-color: transparent;
    border-color: #b3f4ff;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: #b3f4ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

@keyframes scaleUp {
    0% { transform: scale(1); }
    100% { transform: scale(1.5); }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleButton:focus {
    outline: 0px;
}

.toggleButton {
    margin-left: 20px;
    margin-top: 60px;
    background-color: rgba(32, 31, 27, 0.815);
    color: white;
    border: 1px solid #b3f4ff50;
    border-radius: 4px;
    padding: 7px 20px;
    cursor: pointer;
    transition: .2s;
}

.main_wrapper {
    display: none;
    flex-direction: row;  /* This makes them display side by side */
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;  
    gap: 2px;
}

.button_row {
    justify-content: center;
    align-items: center;
    display: contents;
}

.board_and_controls {
    display: flex;
    flex-direction: row; /* By default, set flex direction to row */
    justify-content: center;
    align-items: center;
}

.board_and_duplicates {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-left: 60px;
}

.memory_board, .memory_board * {
    display: flex;
    position: relative;
    width: 720px;
    height: 720px;
    user-select: none;
    -webkit-user-drag: none;
}

.chess_pieces {
    width: 100px;
    height: 100px;
    border: 5px solid transparent; 
    user-select: none;
}

.trash,
.cursor {   
    width: 80px;
    height: 100px;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
}

.black_chess_pieces,
.white_chess_pieces {
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 10px;
    display: flex;
    margin  : 20px 0; 
}

.black_chess_pieces .chess_pieces,
.trash,
.cursor {
    filter: drop-shadow(0 0 1px white);
}

.black_original_pieces,
.white_original_pieces {
    -webkit-user-drag: none;
    user-select: none;
    border-color: white;
    border-radius: 10px;
    border: 4px solid;
}

.animate-background {
    transition: background-color 0.6s ease;
    height: 100px;
    border-radius: 10px;
}

.animate-background:hover {
    border-radius: 10px;
}

.chess_pieces:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    background-color: #617384;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.duplicate-piece:hover{
    border-radius: 0px;
    transform: scaleX(1);
    background-color:transparent;
    box-shadow: 0 0 0px transparent;
}

.cursor:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #17862673;
}

.trash:hover {
    border-radius: 10px;
    transform: scaleX(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #c21c1c73;
}


.messages {
    position: relative;  /* Fixed position */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
    z-index: 9999;  /* Ensure it's on top */
}
  
.messages li {
    width: 500px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

.messages li.error {
    background-color: rgb(45, 18, 18);
    border-color: rgb(156, 61, 76);
}

.messages li.success {
    background-color: rgb(26, 38, 14);
    border-color: rgb(103, 157, 60);
}

.messages li.info {
    background-color: lightslategray;
    border-color: grey;
}

.main_header {
    color: #b3f4ff;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.p1 {
    color: white;
    text-align: center;
    font-size: larger;
}

.video_container {
    display: flex;
    flex-direction: row; /* To line up games horizontally */
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center; /* Center items vertically */
    min-height: 70vh;  /* 80% of the viewport height */
    gap: 30px;
}

.profile_games {
    color: white;
    display: flex;
    flex-direction: row; /* To line up games horizontally */
    flex-wrap: wrap;  
    justify-content: center;
}

.game {
    margin: 20px;
    display: flex;
    flex-direction: column;  /* Stack the elements vertically */
}

.board_container {
    position: relative;
    display: flex;
}

.game_info {
    margin-top: 10px;
}

.hover-play-video {
    border-radius: 5px;
}

.icon-text-wrapper {
    display: flex;
    align-items: center;
}

.top-sidebar {
    visibility: hidden; /* Change to visible */
    width: 100%;
    height: 60px; /* Initial height */
    top: 0;
    left: 0;
    display: flex; /* Make sure it's flex */
    flex-direction: row;
    align-items: center; /* Add this to align items vertically */
    position: fixed;
    transition: height 0.3s ease; /* Add transition for smooth expansion */
    z-index: 9999;
    justify-content: space-around;
    background-image: linear-gradient(to right, #161512 70%, #161512d2 80%, #161512a8 100%);
}

.top-sidebar img {
    margin-top: 10px;
}

.top-sidebar:hover {
    height: 110px; /* Expanded height */
}

.top-sidebar:hover .item-text {
    display: contents;
}

.top-sidebar .sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centers children vertically */
    align-items: center;      /* Centers children horizontally */
    margin-top: -10px;
    color: white;
}
  
/* Mobile view */
@media only screen and (max-width: 450px) {
    .hover-play-video {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .p1 {
        font-size: 0.9em;
    }
    .main_content {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .memory_board {
        width: 400px;
        height: 400px;
    }
    .control_panel {
        width: 100%;  
        order: 2;  
    }
    .button_row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 70%;
        gap: 15px;
    }
    .black_chess_pieces,
    .white_chess_pieces {
        width: 450px;
    }
    .board_and_controls {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
    }
    .chess_pieces {
        width: 54.3px;
        height: 55.5px;
        border: 0px solid;
    }
    .trash,
    .cursor {
        width: 42.5px;
        height: 42.3px;
        border: 0px solid;
    }
    .btn {
        padding: 0px;
        width: 90px;
        height: 80%;
        font-size:0.9em;
    }
    .sidebar:hover {
        width: 140px;
    }
    .main_header {
        margin-top: 5px;
    }
    .messages {
        width: 70%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .icon-text-wrapper {
        flex-direction: column;
    }
    .sidebar-item img {
        width: 70px;
        height: 70px;
    }
    .countdown {
        margin-top: -80px;
    }
    #sidebar-item2,
    #sidebar-item3 {
        white-space: wrap;
    }
    #item-text2 {
        margin-left: 0px;
    }
    .p1.tries {
        font-size: larger;
    }
    .toggleButton {
        margin-top: 10px;
    }
    .header-container {
        display: contents;
    }
    .create_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -80%);
    }
    .register_list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -70%);
    }
    .btn.register {
        width: 100%;
    }
}
